<?xml version="1.0"?>
<!--
/**
 * @author denmozz(bivetech@pm.me)
 * @copyright Copyright (c) 2023 BiveDigital (https://github.com/BiveDigital)
 * @package Countdown Component for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Bive_CountdownComponentLite">
		<sequence>
			<module name="Magento_PageBuilder"/>
		</sequence>
	</module>
</config>
